*{
    margin: 0;
    padding: 0;
}

.conteiner{
    background-color: aqua;
    padding-bottom: 20px;
}

.div-content{
    width: 80%;
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
}
.div-content p{
    width: 50%;
 margin: 0 auto;
 padding: 20px;
}

.image{width: 80%;
    margin: 20px auto;
}

img{
    width: 100%;
    margin: 0 auto;
    border: none;
    border-radius: 5px;
}
.details-container{
width: 80%;
margin: 20px auto;
}

.details-content{
    text-align: center;
    
    
}